A 
{
font-size: 18pt;
text-decoration: none;
}
A:link 
{
color: blue;
}
A:visited 
{
color: green;
}
A:hover 
{
color: red;
text-decoration: underline;
}
div{ color: red; font-size: 2cm;}
/*text-decoration: none; oznacza, że tekst który dotyczy tego wyrażenia nie będzie udekorowany.*/
/*text-decoration: underline; oznacza, że tekst który dotyczy tego wyrażenia będzie podkreślony.*/
/*Jakub Burzyński*/